# <h1>User#confirmation</h1>

# <p>
#   <%= @greeting %>, find me in app/views/user_mailer/confirmation.html.erb
# </p>

<h1>Confirmation Instructions</h1>

<%= link_to "Click here to confirm your email.", edit_confirmation_url(@confirmation_token) %>
