<container class="container d-flex justify-content-center align-items-center min-vh-100">
  <%= form_with model: @user, url: sign_up_path do |form| %>
      <%= render partial: "shared/form_errors", locals: { object: form.object } %>
      <%= render(FormInputComponent.new(id: "email-input")) do %>
        <%= form.label :email, :class => 'mr-1' %>
        <%= form.email_field :email, :class => 'form-control my-form-control', required: true %>
      <% end %>
      <%= render(FormInputComponent.new(id: "password-inout")) do %>
        <%= form.label :password, :class => 'mr-1' %>
        <%= form.password_field :password, :class => 'form-control my-form-control', required: true %>
      <% end %>
      <%= render(FormInputComponent.new(id: "password-confirmation-input")) do %>
        <%= form.label :password_confirmation, :class => 'mr-1' %>
        <%= form.password_field :password_confirmation, :class => 'form-control my-form-control', required: true %>
      <% end %>
      <%= form.submit "Sign Up", :class => 'btn btn-secondary' %>
  <% end %>
</container>