<%= form_with url: password_path(params[:password_reset_token]), scope: :user, method: :put do |form| %>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password, required: true %>
    </div>
    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, required: true %>
    </div>
    <%= form.submit "Update Password" %>
<% end %>